@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 40px 2rem;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}
#root {
  display: flex;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.pageContainer {
  padding: 1rem 2rem 1rem 2rem;
}
